<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'patients')}">

  <body>
  
  
    <h2>Patient Information</h2>
  
  
    <table class="table table-striped" th:object="${patient}">
      <tr>
        <th>Name</th>
        <td><b th:text="*{name}"></b></td>
      </tr>
      <tr>
        <th>Sex</th>
        <td th:text="*{sex}" /></td>
      </tr>
      <tr>
        <th>Birth Date</th>
        <td th:text="*{birthDate}" /></td>
      </tr>
    </table>
  
    <a th:href="@{{id}/edit(id=${patient.id})}" class="btn btn-default">Edit
      Patient</a>
    <a th:href="@{{id}/study/new(id=${patient.id})}" class="btn btn-default">Add
      study</a>
  
    <br />
    <br />
    <br />
    <h2>Studies</h2>
  
    <table class="table table-striped">

        <thead>
        <tr>
            <th>Description</th>
            <th>Doctor</th>
            <th>Room</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        </thead>
        <tr th:each="study : ${patient.studies}">
            <td>
                <a th:href="@{/study/__${study.id}__/edit}" th:text="${study.description}"/></a>
            </td>
            <td th:text="${study.doctor}"></td>
            <td th:text="${study.room}"></td>
            <td th:text="${#temporals.format(study.startTime, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${#temporals.format(study.endTime, 'yyyy-MM-dd HH:mm')}"></td>

        </tr>
    </table>
  
  </body>

</html>
