<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'patients')}">

<body>
<h2>
    <th:block th:if="${study['new']}">New</th:block>
    Study
</h2>
<div th:replace="~{study/createOrUpdateStudyJs}"></div>
<form th:object="${study}" class="form-horizontal" method="post">
    <input type="hidden" name="id" th:value="*{id}"/>
    <div class="form-group has-feedback">

        <input
                th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}"/>
        <input
                th:replace="~{fragments/selectField :: select ('Doctor', 'doctor', ${doctors})}"/>
        <input
                th:replace="~{fragments/selectField :: select ('Room', 'room', ${rooms})}"/>

        <input
                th:replace="~{fragments/inputField :: input ('Start time', 'startTime', 'time')}"/>
        <input
                th:replace="~{fragments/inputField :: input ('End time', 'endTime', 'time')}"/>
        <input
                th:replace="~{fragments/selectEnum :: select ('Status', 'status', ${studyStatuses})}"/>

    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button
                    th:with="text=${study['new']} ? 'Add Study' : 'Update Study'"
                    class="btn btn-default" type="submit" th:text="${text}"></button>
        </div>
    </div>
</form>


</body>
</html>
